@media screen and (max-width: 700px) {
  .social-container,
  .masthead,
  .email-container {
    display: none;
  }


}

@media screen and (min-width: 701px) {
  .main-div {
    margin-left: 50px;
  }
  .menu-wrap,
  .showcase {
    display:none;
  }
}