.social-container {
  display: block;
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  color: rgb(168, 178, 209);
}

.social-list {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.social-list-item {
  background-color: rgb(10, 25, 47);
  color: rgb(168, 178, 209);
  margin-bottom: 20px;
  padding: 10px;
  display: list-item;
  text-align: -webkit-match-parent;
}

.social-list img {
  padding: 10px;
}
.social-container::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  background-color: rgb(168, 178, 209);
  margin: 0px auto;
}

.social-icons {
  padding: 9px 0;
  fill: rgb(168, 178, 209);
}
.social-list-items:last-child {
  margin-bottom: 15px;
}
.social-icons:hover {
  fill: rgb(255, 100, 137);
  transition: 0.5s;
  transform: translate3d(0px, -7px, 0px);
}